:root{
    --mainColor: #65E8FF;
    --mainColorOpacity: #65E8FF90;
    --backgroundColor: #4b63fe;
    --backgroundColor2: #0d05fc;
    --secondColor: #FFFF00;  
    --fontColor: white;
    --headingFont: "mtavari";
    --mainFont: "glaho";
    --capFont: "aladdin";
    --capSize: 50px;
    --fontSize: 20px;
    --navSize: 20px;
    --capLetSpace: 1.5;
    --padding1: 30px 5px 5px 30px;
    --padding2: 1%;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 10px;
    --padding-right: 5px;
    --padding-top2: 20px;
    --padding-bottom2: 20px;
    --padding-left2: 10px;
    --padding-right2: 22px;
    --padding3: 5px;
    --padding4: 100px;
    --shadow: 0px 0px 5px 5px;
    --text-indent: 50px;
    --capSizeMobile: 12px;
}

@font-face {
    font-family: "mtavari";
    src: url(/finalProject/fonts/mtavruli.ttf);
}

@font-face {
    font-family: "glaho";
    src: url(/finalProject/fonts/glaho.ttf);
}

@font-face {
    font-family: "aladdin";
    src: url(/finalProject/fonts/aladdin.ttf);
}

body{
    background-color: var(--mainColor);
    background-image: linear-gradient(var(--backgroundColor2), var(--mainColor));
    margin: 0;
}

.navBar a{
    text-decoration: none;
    color: var(--fontColor);
    font-family: var(--headingFont);
    font-size: var(--navSize);
    width: 100%;
    text-align: center;
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

.navBar a:hover, .grammar:hover{
    color: var(--secondColor);
}


.navBar{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-items: center;
    height: 10%;
    margin-top: 0;
    border: none;
}


.grammar{
    text-decoration: none;
    color: var(--fontColor);
    font-family: var(--headingFont);
    font-size: var(--navSize);
    width: 100%;
    height: 80%;
    text-align: center;
    border: none;
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    cursor: pointer;
    background-color: transparent;
}

.subGrammar {
    position: absolute;
    background-color: var(--mainColor);
    display: none;
    padding-right: var(--padding-right2);
    padding-top: var(--padding-top2);
    padding-bottom: var(--padding-bottom2);
    width: 14.15%;
    z-index: 1;
    background-color: var(--mainColor);
}

.subGrammar a{
    float: none;
    display: block;
    text-align: left;
}

.subGrammar a:hover {color: var(--secondColor);}

.dropdown {
    float: left;
    overflow: hidden;
    display: block;
  }

.dropdown:hover  .subGrammar {
    display: block;
    background-color: var(--mainColor)
}

.dropdown2:hover  .subGrammar {
    display: block;
    background-color: var(--mainColor)
}

main img{
    height: 150px;
    width: 140px;
    border-radius: 50%;
}

main span{
    font-family: var(--headingFont);
    color: var(--fontColor);
    font-size: var(--navSize);
    text-align: center;
    line-height: 1;
    margin-top: 10px;
}

main p{
    font-family: var(--mainFont);
    color: var(--fontColor);
    font-size: var(--fontSize);
    text-align: justify;
    padding: 1%;
    width: 95%;
    text-indent: 20px;
}

.face, .face1, .face2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 1%;
    height: 650px;
    border: var(--fontColor) solid 1px;
    border-radius: 20px;
    background-color: #ffffff80;
    animation: enter 3s 1;
}

.faces{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

  @keyframes enter {
    0% {transform: rotateY(20deg) translateY(-200px) skewY(-30deg); opacity: 0;
    }
    100% {transform: rotateY(0deg) translateY(0) skewY(0deg); opacity: 1;
    }
  }
  
.logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 5%;
}


.lower{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: solid 1px var(--fontColor);  
}

.upper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    border-top: solid 1px var(--fontColor);  
}

.lower span{
    padding-left: 5%;
}

iframe{
    width: 30%;
    height: 25%;
    border-radius: 10px;
    border: none;
    margin: 5px 5px 5px 50px;
}

.phone{
    display: flex;
    flex-direction: column;
}

.phone span{
    color: var(--fontColor);
    font-size: var(--fontSize);
    line-height: 3;
    padding-left: 5%;
    width: 100%;
    margin-left: 5px;
}

footer{
    background: linear-gradient(to right, var(--backgroundColor2), var(--mainColor));
}

@media only screen and (max-width: 580px){
    .navBar a{
        text-decoration: none;
        color: var(--fontColor);
        font-family: var(--headingFont);
        font-size: var(--capSizeMobile);
        width: 100%;
        text-align: center;
    }
    
    .navBar{
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
        overflow: hidden;
        height: 20%;
        margin-top: 0;
    }
    
    .grammar{
        text-decoration: none;
        color: var(--fontColor);
        font-family: var(--headingFont);
        font-size: var(--capSizeMobile);
        width: 100%;
        height: 100%;
        text-align: center;
        border: none;
        cursor: pointer;
        background-color: transparent;
    }

    .subGrammar {
        width: 30%;
    }

    main img{
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
    
    main span{
        font-size: var(--capSizeMobile);
    }
    
    main p{
        font-size: var(--capSizeMobile);
    }

    .faces{
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    .face, .face1 {
        width: 90%;
        padding: 1%;
        height: 300px;
        margin-bottom: 5px;
        margin-left: 5%;
    }

    .face2{
        width: 90%;
        padding: 1%;
        height: 200px;
        margin-bottom: 5px;
        margin-left: 5%;
    }

    iframe{
        width: 15%;
        height: auto;
        border-radius: 10px;
        border: none;
        margin: 1px 1px 1px 50px;
    }

    .phone span{
        color: var(--fontColor);
        font-size: var(--capSizeMobile);
        line-height: 3;
        padding-right: 5px;
        width: 100%;
        margin-left: 5px;
    }

    .logos img{
        height: 12px;
        width: 12px;
    }

    .lower span{
        font-size: 10px;
    }
}

@media only screen and (min-width: 581px) and (max-width: 1159px){
    .navBar a{
        font-size: var(--capSizeTab);
        width: 100%;
        text-align: center;
    }
    
    .navBar{
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
        height: 20%;
        margin-top: 0;
    }
    
    .grammar{
        font-size: var(--capSizeTab);
    }

    .subGrammar {
        width: 30%;
    }

    main span{
        font-size: var(--capSizeTab);
    }
    
    main p{
        font-size: var(--capSizeTab);
    }

    .faces{
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    .face, .face1 {
        width: 90%;
        padding: 1%;
        height: 400px;
        margin-bottom: 5px;
        margin-left: 5%;
    }

    .face2{
        width: 90%;
        padding: 1%;
        height: 300px;
        margin-bottom: 5px;
        margin-left: 5%;
    }
    
    iframe{
        width: 15%;
        height: auto;
    }

    .phone span{
        font-size: var(--capSizeTab);
        line-height: 3;
        padding-right: 5px;
        width: 100%;
        margin-left: 5px;
    }

    .logos img{
        height: 25px;
        width: 25px;
    }

    .lower span{
        font-size: var(--capSizeTab);
    }

}
